@page "/ProfileDashboard"
@using DomainModels
@inject AppState AppState
@inject HttpClient HttpClient
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<h3>Profile Dashboard</h3>

@if (profile != null)
{
    <p>Id: @profile.Id</p>
    <p>Name: @profile.Name</p>
    <p>Email: @profile.Email</p>
    <p>Birthday: @profile.Birthday?.ToShortDateString()</p>
    <p>Address: @profile.Address</p>
    <p>Phone Number: @profile.PhoneNumber</p>
    <button class="btn btn-danger" @onclick="DeleteProfile">Slet profil</button>
}
else
{
    <p>Loading...</p>
}

@code {
    private Profile? profile;

    protected override async Task OnInitializedAsync()
    {
        if (AppState.LoggedIn)
        {
            profile = await HttpClient.GetFromJsonAsync<Profile>($"api/profile/{AppState.UserId}");
        }
    }

    private async Task DeleteProfile()
    {
        if (await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på, at du vil slette din profil?"))
        {
            var response = await Http.DeleteAsync($"api/profile/deactivate/{AppState.UserId}");

            if (response.IsSuccessStatusCode)
            {
                AppState.Logout();
                NavigationManager.NavigateTo("/");
            }
            else
            {
                
                Console.WriteLine("Fejl ved sletning af profil");
            }
        }
    }
}